<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.realworld.mapper.ArticleMapper">

    <insert id="insert">
        insert into articles(id, slug, title, description, body, user_id, created_at, updated_at)
        values (#{article.id},
                #{article.slug},
                #{article.title},
                #{article.description},
                #{article.body},
                #{article.userId},
                #{article.createdAt},
                #{article.updatedAt})
    </insert>
</mapper>