<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.realworld.mapper.CommentMapper">

    <sql id="selectComment">
        select
        C.id commentId,
        C.body commentBody,
        C.created_at commentCreatedAt,
        C.updated_at commentUpdatedAt,
        A.user_id userId,
        A.id articleId,
        <include refid="com.example.realworld.mapper.ArticleQueryMapper.profileColumns"/>
        from
        comments C
        left join users U on C.user_id = U.id
        left join articles A on A.id = C.article_id
    </sql>

    <insert id="insertArticleComment">
        insert into comments(id, body, article_id, user_id, created_at, updated_at)
        values (#{comment.id},
                #{comment.body},
                #{comment.articleId},
                #{comment.userId},
                #{comment.createdAt},
                #{comment.updatedAt})
    </insert>

    <select id="findArticleCommentById" resultMap="transfer.data.commentDto">
        <include refid="selectComment"/>
        where C.id=#{commentId} and C.article_id=#{articleId}
    </select>

    <delete id="deleteArticleComment">
        delete
        from comments
        where id = #{commentId}
    </delete>

    <select id="queryComments" resultMap="transfer.data.commentDto">
        <include refid="selectComment"/>
        where C.article_id=#{articleId}
    </select>
</mapper>