<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.realworld.mapper.UserMapper">
    <insert id="insert">
        insert into users (id, username, email, password, bio, image)
        values (#{user.id},
                #{user.username},
                #{user.email},
                #{user.password},
                #{user.bio},
                #{user.image})
    </insert>
    <select id="findFollows" resultType="com.example.realworld.domain.entity.FollowEntity">
        select user_id, follow_id
        from follows
        where user_id = #{userId}
          and follow_id = #{followId}
    </select>
    <insert id="insertFollows">
        insert into follows(user_id, follow_id)
        values (#{userId}, #{followId})
    </insert>
    <delete id="deleteFollows">
        delete
        from follows
        where user_id = #{userId}
          and follow_id = #{followId}
    </delete>
    <select id="findByEmail" resultType="com.example.realworld.domain.entity.UserEntity">
        select id, username, email, password, bio, image
        from users
        where email = #{email}
    </select>
    <select id="findByUsername" resultType="com.example.realworld.domain.entity.UserEntity">
        select id, username, email, password, bio, image
        from users
        where username = #{username}
    </select>
    <select id="findById" resultType="com.example.realworld.domain.entity.UserEntity">
        select id, username, email, password, bio, image
        from users
        where id = #{id}
    </select>
    <update id="save">
        update users
        <set>
            <if test="user.username != ''">username = #{user.username},</if>
            <if test="user.email != ''">email = #{user.email},</if>
            <if test="user.password != ''">password = #{user.password},</if>
            <if test="user.bio != ''">bio = #{user.bio},</if>
            <if test="user.image != ''">image = #{user.image}</if>
        </set>
        where id = #{user.id}
    </update>
</mapper>